{% capture footer_contents %}<span class="footer-item">&copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</span><span class="footer-separator">·</span><span class="footer-item">{{ site.data[site.active_lang].strings.footer.copyright | default: "Copyright" }}</span><span class="footer-separator">·</span><span class="footer-item">{{ site.data[site.active_lang].strings.footer_text }}</span>{% if site.impressum_path %}<span class="footer-separator">·</span><span class="footer-item"><a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">{{ site.data[site.active_lang].strings.footer.impressum }}</a></span>{% endif %}{% if site.last_updated %}<span class="footer-separator">·</span><span class="footer-item footer-updated">{{ site.data[site.active_lang].strings.footer.last_updated }} {% if site.active_lang == 'zh_CN' or site.active_lang == 'ja_JP' %}{{ 'now' | date: '%Y' }}年{{ 'now' | date: '%m' }}月{{ 'now' | date: '%d' }}日{% elsif site.active_lang == 'de_DE' %}{{ 'now' | date: '%d' }}. {{ 'now' | date: '%B' }} {{ 'now' | date: '%Y' }}{% else %}{{ 'now' | date: '%B %d, %Y' }}{% endif %}</span>{% endif %}{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
